$bg-color: #FFFFFF;
$primary-color: #536878;
$secondary-color: #BFC1C2;
$accent-color: #FEFEFA;

//breakpoints
$sm-size: 400px;
$sm-med: 600px;
$med-lg: 960px;
$lg-size: 1080px;

@mixin flex-settings($display, $flow, $justify) {
  display: $display;
  flex-flow: $flow;
  justify-content: $justify;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

body {
  margin: 0 auto;
  background-color: $accent-color;
  color: $primary-color;
  font-family: sans-serif;
}

h1 {
  color: $primary-color;
}

// _ARCHITEKT brand header at the top of the homepage
#page-header {
  @include flex-settings(flex, row nowrap, space-around);
  width: 100%;
  
  @media (min-width: $med-lg) {
    border-top: 1px solid $secondary-color;
    margin-top: 20px;
  }
  
  .header {
    margin: 20px;
  }

  #brand {
    max-width: $sm-med;
    font-size: 40px;
    line-height: 25px;

    @media (max-width: $sm-med) {
      font-size: 25px;
    }
  }

  #brand-description {
    border-left: 1px solid $secondary-color;
    padding: 0px 0px 0px 20px;
    max-width: 300px;

    @media (max-width: $med-lg) {
      display: none;
    }
  }
}

// main display image on homepage
#masthead {
  margin: 10px;

  @media (min-width: $med-lg) {
    margin: 0px;
  }

  img {
    max-width: 100%;
  }
}

// wrapping div for gallery thumbnails
#content {
  @include flex-settings(flex, row wrap, center);
  max-width: $med-lg;
  margin: 0 auto;
  padding-top: 50px;

  .information {
    margin: 7px;

    img {
      @include width-height(300px, 200px);
      object-fit: cover;
    }
  }
}

#single-wrapper {
  @include flex-settings(flex, row wrap, space-between);
  margin: 10px;
  width: 100%;

  @media (max-width: $med-lg) {
    justify-content: center;
  }

  #details {
    margin: 0;
    width: 65%;

    @media (max-width: $med-lg) {
      text-align: center;
      width: 80%;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  #other-images {
    width: 25%;
    margin: 0;
    text-align: center;

    @media (max-width: $med-lg) {
      width: 100%;
    }

    img {
      @include width-height(100%, 150px);
      object-fit: cover;

      @media (max-width: $med-lg) {
        @include width-height(300px, 200px);
      }
    }
  }
}

.user-entry {
  width: 100%;
  margin-top: 10px;
  text-align: center;

  input, textarea {
    @include width-height(200px, 25px);
    display: block;
    margin: 30px auto;
    font-size: 20px;
  }

  img {
    width: 90%;
    margin: 10px
  }
}


/* dividers and spacers */
#main-divider {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 10px;
  color: $secondary-color;

  @media (min-width: $med-lg) {
    width: 100%;
  }
}

#divider {
  visibility: hidden;
  width: 100%;
}

// spacers
.spacer {
  @include width-height(100%, 80px);
}

