<title>New Image</title>

<div class="user-entry">
  <h1 class="topHeader">Enter Image Information</h1>
  <br>

  <form id="newform" action="/gallery" method="POST">
  
    <input type="text" name="author" placeholder="author">
    <input type="text" name="link" placeholder="http://">
    <input type="description" name="description" placeholder="description">
    <input type="submit" name="Submit">
  </form>
</div>



  