  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <h1>EDIT GALLERY IMAGE</h1>
</head>
<body>
  

<!-- Simple form which will send a POST request -->
<form action="/gallery/{{id}}?_method=PUT" method="POST">
  <label for="PUT-author">AUTHOR:</label>
  <input id="PUT-author" type="text" name="author"value = '{{author}}'>

  <label for="PUT-link">LINK:</label>
  <input id="PUT-link" type="text" name="link"value = '{{link}}'>

  <label for="PUT-description">DESCRIPTION:</label>
  <input id="PUT-description" type="text" name="description"value = '{{description}}'>

  <input type="submit" value="Submit">
</form>
</form>
</body>
</html>