  <h1>GALLERY PAGE</h1>
{{#each db}}
  <div class="gallery">
    <h3>Author: {{author}}</h3>
    <img src={{link}}>
    <h3>Description: {{description}}</h3>
    <h3>Id: {{id}}</h3>
  </div>
{{/each}}
