<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery</title>
</head>

<body>
  <h1>NEW GALLERY</h1>
  {{!-- <form action="/gallery/method=POST"> --}}
  <form action="/gallery" method="Post">
    <label for="Post-name">AUTHOR</label>
    <input id="authorID" type="text" name="author">
    <label for="Post-name">LINK</label>
    <input id="linkID" type="text" name="link">
    <label for="Post-name">DESCRIPTION</label>
    <input id="desriptionID" type="text" name="description">
    <input type="submit" value="submit">
  </form>
</body>

</html>