<div id="page-header">
  <div class="header" id="brand">
    <h1>_ARCHITEKT</h1>
  </div>

  <div class="header" id="brand-description">
    Welcome to our portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative footsteps.
  </div>
</div>